<html>

<head>
	<title>Test</title>
	<script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js" integrity="sha256-yr4fRk/GU1ehYJPAs8P4JlTgu0Hdsp4ZKrx8bDEDC3I=" crossorigin="anonymous"></script>
	<script src="{{ url_for('static', filename='main.js') }}"></script>
	<script src="{{ url_for('static', filename='socketAdapter.js') }}"></script>
	<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta charset="UTF-8">
</head>

<body>
	<main>
		<div class="block">
			<h1>RGB Weihnachtsbaum</h1>
		</div>
		<div class="block">
			<input type="color" id="colorPicker" name="colorPicker">
			<label for="colorPicker">Farbe</label>
		</div>
		<div class="block">
			<input type="range" id="brightness" name="brightness">
			<label for="brightness">Helligkeit</label>
		</div>
		<div class="block">
			<select name="ans" id="animationPicker">
				{% for i in keys %}
				<option value="{{ i }}">{{ i }}</option>
				{% endfor %}
			</select>
			<label for="ans">Animation</label>
		</div>
		<div class="block">
			<input id="onBtn" type="button" onclick="on()" value="Einschalten">
			<input id="offBtn" type="button" onclick="off()" value="Ausschalten">
			<label>Baum ein- und ausschalten</label>
		</div>
	</main>
</body>

</html>